<!DOCTYPE html>
<html>
  <head>
    <%- include("function/header.ejs") %>

  </head>
  <body>
      <!-- A grey horizontal navbar that becomes vertical on small screens -->
      <%- include("function/navbar.ejs") %>
    <!-- menu foods start -->
    <div class="container-fluid">
      <div class="card shadow mb-4">
          <div class="card-header py-3 row">
              <h4 class="m-0 font-weight-bold text-primary">Menu
              </h4> 
              <form action="/thanhtoan" method="post" class="col-4" >
                <button class="btn btn-primary" type="submit" style="float: left;">Thanh toán</button>
              </form>    
          </div>
          <div class="card-body">
              <div class="border border-light p-md-2" id="menu" method="POST" action="/cms/menu" enctype="application/x-www-form-urlencoded">
                  <div class="form-row mb-4">   
                      <% data.forEach(element => { %>
                      <div class="col-lg-6 col-12 mb-2">
                          <div class="card border-left-primary shadow h-100 py-2 d-flex flex-row">
                              <img src="/uploads/foods/<%= element.image %>"
                                  style="width: 25%; height: 140px; border-radius: 5px; margin-left: 8px;" alt="">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-md font-weight-bold text-primary text-uppercase mb-1">
                                              <%= element.title %> </div>
                                          <div class="h5 mb-0 font-weight-bold text-gray-800"><%= element.price %> vnđ </div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                                  <div class="row d-flex align-items-end justify-content-end mt-2 ">
                                    <form id="themvaogiohang" method="post" action="/">
                                      <label>Số lượng</label>
                                      <input class="amount" type="number" class="form-control" name='amount'
                                          style="width: 100px;"  min='1' ; value="<%= element.soluong %>">
                                          <input type="hidden" name="idfood" value="<%= element.foodID %> ">
                                          <button type="submit" class="btn-primary btn">Cap nhat</button>
                                        </form>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <% }) %>
                  </div>
  
                </div>
          </div>
      </div>
  
  
  </div>
    <!-- menu foods end -->

    <p>Welcome to <%= title %></p>
    <script >
      $(".themvaogiohang").submit(function(e){
        e.preventDefault();
      })
    </script>
  </body>
</html>
