<!DOCTYPE html>
<html>
  <%- include("function/header.ejs") %>

  </head>
  <body>
      <!-- A grey horizontal navbar that becomes vertical on small screens -->
      <%- include("function/navbar.ejs") %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Số dư hiện tại là: <%= sodu %> </h1>
    
      </div>
     
    
  </body>
</html>
